{% load static %}

<div id="lightbox" class="lightbox d-none">
  <div class="lightbox-backdrop"></div>

  <div class="lightbox-inner">
    <button class="lightbox-arrow lightbox-arrow--left" type="button">&#10094;</button>

    <img id="lightbox-image" class="lightbox-image" alt="Recipe image">

    <button class="lightbox-arrow lightbox-arrow--right" type="button">&#10095;</button>
  </div>
</div>

<script src="{% static 'js/post_lightbox.js' %}"></script>
<script src="{% static 'js/save_modal.js' %}"></script>
<script src="{% static 'js/post_layout.js' %}" defer></script>
