{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/base_theme_nav.js' %}"></script>

	    <link rel="icon" href="{% static 'favicons/favicon.ico' %}">
	    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
	    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
	    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
	    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">

    <link href="{% static 'vendor/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link href="{% static 'css/base/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/auth/auth.css' %}" rel="stylesheet">
    <link href="{% static 'css/app/app.css' %}" rel="stylesheet">
    <link href="{% static 'css/post/post.css' %}" rel="stylesheet">

    {% block page_css %}{% endblock %}
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

	    <title>{% block title %}Recipi{% endblock %}</title>
       
	  </head>

	  <body data-theme="light" class="{% block body_class %}{% endblock %}">
	    {% block body %}
	    {% endblock %}
		    <script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
	  </body>
	</html>
