@import url("app_feed.css");
@import url("app_dashboard.css");
@import url("app_profile.css");
@import url("app_follow_modal.css");
@import url("app_profile_collections.css");
@import url("app_edit_profile.css");
@import url("app_edit_profile/app_edit_profile_light.css");
@import url("app_collection_detail.css");
@import url("app_recipe_create.css");
@import url("app_recipe_detail.css");
@import url("app_recipe_cards.css");
@import url("app_nav_menu.css");
@import url("app_notifications.css");
