{% for item in items %}
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <div class="shop-card position-relative">
      <div class="shop-card-image-wrap">
        {% if item.shop_image_upload %}
          <img src="{{ item.shop_image_upload.url }}" alt="{{ item.name }}" class="shop-card-img">
        {% elif item.recipe_post.image %}
          <img src="{{ item.recipe_post.image }}" alt="{{ item.recipe_post.title }}" class="shop-card-img">
        {% else %}
          <div class="shop-card-placeholder">
            <i class="bi bi-basket3"></i>
          </div>
        {% endif %}

        <span class="shop-card-badge">
          <i class="bi bi-check2-circle"></i> Verified
        </span>
      </div>

      <div class="shop-card-body">
        <div class="mb-2">
          <h5 class="shop-card-title text-truncate" title="{{ item.name|title }}">
            {{ item.name|title }}
          </h5>
          <p class="shop-card-subtitle text-truncate">
            used in <a href="{% url 'recipe_detail' item.recipe_post.id %}" class="text-decoration-none">{{ item.recipe_post.title }}</a>
          </p>
        </div>

        <a href="{{ item.shop_url }}" target="_blank" class="btn w-100 shop-btn stretched-link">
          Buy Now <i class="bi bi-arrow-up-right ms-1 small"></i>
        </a>
      </div>
    </div>
  </div>
{% endfor %}

