{% for item in items %}
  <article class="shop-masonry-item">
    <a href="{{ item.shop_url }}" target="_blank" class="shop-item-card">
      <div class="shop-item-figure">
        {% if item.shop_image_upload %}
          <img src="{{ item.shop_image_upload.url }}" alt="{{ item.name }}" class="shop-item-img">
        {% elif item.recipe_post.primary_image_url %}
          <img src="{{ item.recipe_post.primary_image_url }}" alt="{{ item.recipe_post.title }}" class="shop-item-img" loading="lazy">
        {% else %}
          <div class="shop-item-placeholder">
            <i class="bi bi-image"></i>
          </div>
        {% endif %}
        <span class="shop-item-chip" title="{{ item.name }}">{{ item.name }}</span>
      </div>
    </a>
    <div class="shop-item-meta">
      <a href="{% url 'recipe_detail' item.recipe_post.id %}" class="shop-item-recipe text-decoration-none">
        {{ item.recipe_post.title }}
      </a>
    </div>
  </article>
{% endfor %}
