.recipi-home {
  min-height: calc(100vh - 64px);
  padding-top: 0;
}

.recipi-home .container-fluid {
  padding-top: 0;
}

.recipi-home .row.mt-3 {
  margin-top: 0.75rem;
}


body.dashboard-body {
  background-color: var(--bg-1);
  color: var(--text-primary);
}

body.dashboard-body .navbar-recipi,
body.dashboard-body .navbar-app,
body.shop-body .navbar-recipi,
body.shop-body .navbar-app,
body.app-body .navbar-recipi,
body.app-body .navbar-app {
  background-color: inherit !important;
}
