<nav class="navbar navbar-expand-lg navbar-recipi">
  <div class="container-fluid px-4 px-xl-5">

    {% include "partials/navbar/navbar_brand.html" with brand_classes="fw-semibold" %}

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {% if user.is_authenticated %}

      {% include 'partials/navbar/menu.html' %}

    {% else %}

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <div class="d-flex align-items-center gap-2">
          <a href="{% url 'log_in' %}" class="btn btn-sm btn-outline-dark text-uppercase">
            Log in
          </a>
          <a href="{% url 'sign_up' %}" class="btn btn-sm btn-dark text-uppercase">
            Get started
          </a>
        </div>
      </div>

    {% endif %}

  </div>
</nav>
